.catalog {
  display: grid;
  gap: 48px;
  justify-content: center;
  grid-template-columns: repeat(4, $card-width);

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @media (max-width: 1024px) {
    & {
      grid-template-columns: repeat(3, $card-width);
    }
  }

  @media (max-width: 768px) {
    & {
      grid-template-columns: repeat(2, $card-width);
    }
  }

  @media (max-width: 488px) {
    & {
      grid-template-columns: repeat(1, $card-width);
    }
  }
}
